@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@600&display=swap');

/*Mixins*/

@mixin letraMixin {

    font-family: 'Poltawski Nowy', serif;
  
  }
  
  nav {
    @include letraMixin()
  }

@mixin pStyle {

    font-family: 'Poltawski Nowy', serif;

}

p {
    @include pStyle()
}

@mixin tittleStyle {
  font-family: 'Poltawski Nowy', serif;

}

h1 {
  @include tittleStyle()
}




.estiloImgCard{
    width: 25rem;
}

.img-normalizada{
	width: 400px;
	height: 400px;
	object-fit: cover;
}

/*Animaciones*/

img:hover {
    transform: scale(1.1);
}

.navbar {
  .nav-item {
    .nav-link {
      &:hover {
        color: paleturquoise; // Cambia el color de hover a tu preferencia
      }
    }
  }
}