<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Lollapalooza | Miley Cyrus Argentina</title>
    <meta name="Miley Cyrus Fan Club Argentina" content="Videos de Miley Cyrus en el Lollapalooza Argentina 2022">

    <!--Favicon-->
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">


    <!-- Enlazar el archivo jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Enlazar los archivos JS de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <header>

        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">Miley Cyrus Argentina</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-column justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="../index.html" class="nav-link active" area-current="Inicio">
                                Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a href="./fotos.html" class="nav-link active" area-current="Fotos">
                                Fotos</a>
                        </li>

                        <li class="nav-item">
                            <a href="./catalogo.html" class="nav-link active" area-current="Catalogo">
                                Catalogo</a>
                        </li>

                        <li class="nav-item">
                            <a href="./lollapalooza.html" class="nav-link active" area-current="Lollapalooza">
                                Lollapalooza</a>
                        </li>

                        <li class="nav-item">
                            <a href="./unite.html" class="nav-link active" area-current="Unite">
                                Unite</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--navbar-->

    </header>

    <section>

        <div class="bg-secondary container-fluid text-light">

            <h1 class="mt-5">Lollapalooza 2022 | Miley Cyrus Argentina</h1>
            <h3>Reviví los momentos de Miley Cyrus en el Lollapalooza</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9QlOh65pMPI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Uf06qaM4klw"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

        </div>

    </section>

    <!--Footer-->

    <section>
        <footer class="container-fluid bg-dark py-5 text-center text-light">
            <hr>
            <p>Esta página está creada con fines estudiantiles</p>
            <hr>
            <p>Miley Cyrus Argentina</p>
            <i class="bi bi-facebook text-center text-light"></i>
            <i class="bi bi-twitter text-center text-light"></i>
            <i class="bi bi-youtube text-center text-light"></i>

        </footer>
    </section>

    <!--Footer-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>

</body>

</html>