<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!--CSS-->
    <link rel="stylesheet" href="./css/style.css">

    <title>Miley Cyrus Argentina</title>
</head>

<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Miley Cyrus Argentina</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-column justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="../index.html" class="nav-link active" area-current="page">
                            Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a href="./galeria.html" class="nav-link active" area-current="page">
                            Galeria</a>
                    </li>

                    <li class="nav-item">
                        <a href="./album.html" class="nav-link active" area-current="page">
                            Album</a>
                    </li>

                    <li class="nav-item">
                        <a href="./lollapalooza.html" class="nav-link active" area-current="page">
                            Lollapalooza</a>
                    </li>

                    <li class="nav-item">
                        <a href="./unite.html" class="nav-link active" area-current="page">
                            Unite</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <div class="bg-secondary container-fluid text-light">

        <h2 class="h2">Te dejamos videos de lo que fue el recital de Miley en el Lolapalooza!</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9QlOh65pMPI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Uf06qaM4klw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

    </div>

    <!--Footer-->
    <footer class="container-fluid bg-dark py-5 text-center text-light">
        <hr>
        <p>Esta página está creada con fines estudiantiles</p>
        <hr>
        <p>Miley Cyrus Argentina</p>
        <i class="bi bi-facebook text-center text-light"></i>
        <i class="bi bi-twitter text-center text-light"></i>
        <i class="bi bi-youtube text-center text-light"></i>

    </footer>

    <!--Footer-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>

</body>

</html>