<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!--SASS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Miley Cyrus Argentina</title>
    <meta name="Miley Cyrus Fan Club Argentina" content="Sitio wed para fans de Miley Cyrus en Argentina">
    
    <!--Favicon-->
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">


    <!-- Enlazar el archivo jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Enlazar los archivos JS de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Miley Cyrus Argentina</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-column justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="../index.html" class="nav-link active" area-current="Inicio">
                            Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a href="./fotos.html" class="nav-link active" area-current="Fotos">
                            Fotos</a>
                    </li>

                    <li class="nav-item">
                        <a href="./catalogo.html" class="nav-link active" area-current="Catalogo">
                            Catalogo</a>
                    </li>

                    <li class="nav-item">
                        <a href="./lollapalooza.html" class="nav-link active" area-current="Lollapalooza">
                            Lollapalooza</a>
                    </li>

                    <li class="nav-item">
                        <a href="./unite.html" class="nav-link active" area-current="Unite">
                            Unite</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <!--formulario-->
    <form class="bg-secondary text-dark">
        <h1 class= "text-center text-light">Formá parte del Fan Club en Argentina</h1>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
        </div>
        <div class="form-group mt-2">
            <label for="correo">Correo electrónico:</label>
            <input type="email" class="form-control" id="correo" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="form-group mt-2">
            <label for="telefono">Teléfono</label>
            <input type="number" class="form-control" id="telefono" placeholder="Ingresa tu teléfono">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Enviar</button>
    </form>
    <!--formulario-->


    <!--Footer-->
    <footer class="container-fluid bg-dark py-5 text-center text-light">
        <hr>
        <p>Esta página está creada con fines estudiantiles</p>
        <hr>
        <p>Miley Cyrus Argentina</p>
        <i class="bi bi-facebook text-center text-light"></i>
        <i class="bi bi-twitter text-center text-light"></i>
        <i class="bi bi-youtube text-center text-light"></i>

    </footer>

    <!--Footer-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>

</body>

</html>